.navbar {
  .nav-link {
    color: #fff;
    &:hover {
      color: #ffd54f;
    }
  }

  .dropdown-menu {
    font-size: 0.9rem;
  }
}

form input[type="text"]::placeholder {
  color: #999;
  font-style: italic;
}
.hero-section ul li i {
  width: 20px;
  text-align: center;
}
footer {
  a.text-light:hover {
    color: $accent-color;
  }

  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }

  ul.list-unstyled li a {
    transition: all 0.2s ease-in-out;
  }

  ul.list-unstyled.d-flex i:hover {
    color: $accent-color;
  }
}
/* Hover cho danh mục */
.list-unstyled li a {
  display: block;
  padding: 0.4rem 0.75rem;
  border-radius: 0.35rem;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  font-weight: 700;

  &:hover {
    background: linear-gradient(90deg, #ff9800, #ff5722, #2196f3);
    color: #fff !important;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
    transform: translateX(4px);

    i {
      color: #fff !important;
    }
  }
}
